{% extends 'core/base.html' %}

{% block title %} Clients {% endblock %}

{% block content %}
<div class="py-6 px-6">
    <h1 class="mb-4 text-xl">Clients</h1>
    <a href="{% url 'clients:add' %}" class="inline-block py-4 px-6 bg-blue-600 rounded-xl text-white">Add client</a>
    <a href="{% url 'clients:export' %}" class="inline-block py-4 px-6 bg-blue-500 rounded-xl text-white">Export</a>
    <div class="flex justify-between mb-4">
        <!-- Thanh tìm kiếm -->
        <form action="" method="get" class="flex items-center">
            <input type="text" name="q" placeholder="Search..." class=" mt-6 py-2 px-4 border-2 border-gray-300 rounded-l-lg focus:outline-none">
            <button type="submit" class="mt-6 py-2 px-6 bg-red-400 text-white rounded-r-lg border-2 ">Search</button>
        </form>
    </div>
    
    <!-- Phần hiển thị danh sách leads -->
    {% if clients %}
        <!-- Các cột thông tin lead -->
        <div class="mt-5 flex justify-between">
            <!-- Các cột thông tin khác của lead -->
        </div>
    
        <!-- Vòng lặp để hiển thị danh sách lead -->
        {% for clients in clients %}
            <div class="flex justify-between">
                <!-- Hiển thị thông tin từng lead -->
            </div>
        {% endfor %}
    {% endif %}

    {% if clients %}
    <div class="mt-5 flex justify-between">
        <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Name</p>
        <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Created at</p>
        <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Email</p>
        <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Phone</p>
        <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Service</p>
    
    </div>
    {% for clients in clients %}
        <div class="flex justify-between">
            <p class="py-2 px-2 w-full {% cycle 'bg-gray-50' '' %}">
             <a href="{% url 'clients:detail' clients.id %}" class="transition duration-500 hover:text-teal-500 transform hover:-translate-y-1 hover:scale-110 ...">{{ clients.name }}</a>
             <p class="py-2 px-2 w-full {% cycle 'bg-gray-50' '' %}">{{ clients.created_at }}</p>
             <p class="py-2 px-2 w-full {% cycle 'bg-gray-50' '' %}">{{ clients.email }}</p>
             <p class="py-2 px-2 w-full {% cycle 'bg-gray-50' '' %}">{{ clients.phone }}</p>
             <p class="py-2 px-2 w-full {% cycle 'bg-gray-50' '' %}">{{ clients.product_line }}</p>

            </p>
        </div>
    {% endfor %}
{% else %}
    <p class="mt-6 px-2">There are no clients in the database yet...</p>
{% endif %}
</div>
<div class="pagination py-4 px-2 bg-gray-200 font-semibold w-full" style="display: flex; justify-content: center;margin-top: 20px;">
    <span class="step-links">
        {% if clients.has_previous %}
            <a href="?page={{ clients.previous_page_number }}" class="transition duration-500 hover:text-blue-500 transform hover:-translate-y-1 hover:scale-110 ..."><strong>Previous----</strong></a>
        {% endif %}
    </span>
 
    <span class="current">
        Page {{ clients.number }} of {{ clients.paginator.num_pages }}.
    </span>
     
    <span>
        {% if clients.has_next %}
            <a href="?page={{ clients.next_page_number }}" class="transition duration-500 hover:text-blue-500 transform hover:-translate-y-1 hover:scale-110 ..."><strong>----Next</strong></a>
        {% endif %}
    </span>
</div>
</div>

{% endblock %}